[submodule "auth-client"]
	path = auth-client
	url = git@github.com:zabiksandbox/hex-auth-client.git
[submodule "auth-server"]
	path = auth-server
	url = git@github.com:zabiksandbox/hex-auth-server.git
[submodule "world-client"]
	path = world-client
	url = git@github.com:zabiksandbox/hex-world-client.git
[submodule "world-server"]
	path = world-server
	url = git@github.com:zabiksandbox/hex-world-server.git
[submodule "static-server"]
	path = static-server
	url = git@github.com:zabiksandbox/hex-static-server.git
